<!DOCTYPE html>
<html lang="zh">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>学校管理系统</title>
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/left_style.css">
<link rel="stylesheet" href="/static/css/reset.css" />
<link rel="stylesheet" href="/static/css/swiper.min.css" />
<link rel="stylesheet" href="/static/css/head.css" />

</head>
<body>
<header id="header">
</header>
<!-- 左侧侧边栏 -->
<div id="wrapper" class="toggled">
	<div class="overlay"></div>

	<!-- 侧边栏 -->
	<nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
		<ul class="nav sidebar-nav">
			<li class="sidebar-brand">
				<a href="javascript:;">
				   学生管理系统
				</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-fw fa-home"></i> 主页</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-fw fa-folder"></i>学生档案</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-fw fa-file-o"></i>学生成绩</a>
			</li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-plus"></i> 班级管理 <span class="caret"></span></a>
			  <ul class="dropdown-menu" role="menu">
					<li class="dropdown-header"></li>
					<li><a href="#">学生名单</a></li>
					<li><a href="#">学生作品</a></li>
					<li><a href="#">详细信息</a></li>
					<li><a href="#">打印</a></li>
			  </ul>
			</li>
			<li>
				<a href="#"><i class="fa fa-fw fa-twitter"></i>直播管理</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-fw fa-dropbox"></i>课程安排</a>
			</li>
			<li>
				<a href="#"><i class="fa fa-fw fa-cog"></i>设置</a>
			</li>
		</ul>
	<!-- 内容 -->
	<div id="page-content-wrapper">
	  <button type="button" class="hamburger is-open animated fadeInLeft" data-toggle="offcanvas">
		<span class="hamb-top"></span>
		<span class="hamb-middle"></span>
		<span class="hamb-bottom"></span>
	  </button>
	</div> 
</div>

<script src="/static/js/jquery-3.1.1.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="/static/text/javascript"></script>
<script src="/static/js/swiper.min.js"></script>
<script src="/static/js/head.js"></script>
<script>
	$(document).ready(function () {
	  var trigger = $('.hamburger'),
		  overlay = $('.overlay'),
		 isClosed = false;

		trigger.click(function () {
		  hamburger_cross();      
		});

		function hamburger_cross() {
		  if (isClosed == true) {          
			overlay.hide();
			trigger.removeClass('is-closed');
			trigger.addClass('is-open');
			isClosed = false;
		  } else {   
			overlay.show();
			trigger.removeClass('is-open');
			trigger.addClass('is-closed');
			isClosed = true;
		  }
	  }
	  
	  $('[data-toggle="offcanvas"]').click(function () {
			$('#wrapper').toggleClass('toggled');
	  });  
	});

</script>


</body>
</html>